.homeList {
    border: 1px solid black;
    margin: 5%;
    list-style: none;
    padding: 2%
}

.btn {
    height: 60px;
    width: 300px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px
}

.btn.unanswered {
    background-color: red;
}

.btn.answered {
    background-color: green;
}